build/
*.class
*.cache
worlds/
__pycache__/
*.pyc
how-to-set-on-windows.txt
steve_skin.png
brick.png
leaves.png
plank.png
wood.png
grass_overlay.png
tnt_bottom.png
tnt_top.png
crafting_table_side.png
crafting_table_top.png
furnace_side.png
furnace_top.png
music/povlinux2.mp4
sounds/povlinux*
